.layout {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1440px) {
  .layout {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1240px) {
  .layout {
    max-width: 1100px;
  }
}

@media only screen and (max-width: 1024px) {
  .layout {
    max-width: 800px;
  }
}

@media only screen and (max-width: 768px) {
  .layout {
    max-width: 90%;
  }
}

@media only screen and (max-width: 545px) {
  .layout {
    max-width: 100%;
  }
}
