.Card {
  z-index: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  height: auto;
  margin-bottom: 1rem;
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  .details {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, 0.5);
    font-family: Montserrat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    .btn {
      position: absolute;
      right: 5%;
      top: 12px;
      font-size: 12px;
      font-weight: 500;
    }
    .image-title {
      position: absolute;
      bottom: 20px;
      left: 5%;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
    }
  }

  &:hover {
    .details {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 545px) {
  .Card {
    border-radius: 0;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }

    .details {
      top: auto;
      bottom: 0;
      opacity: 1;
      height: 70px;
      background: rgba(1, 1, 1, 0.8);

      .image-title,
      .btn {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
